# {{ ansible_managed }}

router id {{ bird_bgp_router_id }};

# We are only going to export routes from Calico interfaces.
# Currently, 'tap*' is used by the OpenStack implimentation
# and 'cali*' is used by the docker implimentation.
# dummy1 is the interface that bare metal "service" addresses
# should be bound to if they should be exported.
# This will need to be updated as we add new interface names.
#
# Also filter out default, just in case.
#
# We should automate the build of this out of variables when
# we have time.

{% for name, filter in bird_ipv6_filters.iteritems() %}
filter {{ name }} {
  {{ filter | indent(2) }}
}
{% endfor %}

# Configure synchronization between BIRD's routing tables and the
# kernel.
protocol kernel {
  learn;          # Learn all alien routes from the kernel
  persist;        # Don't remove routes on bird shutdown
  scan time 2;    # Scan kernel routing table every 2 seconds
  import all;
  export all;     # Default is export none
}

# Watch interface up/down events.
protocol device {
  scan time 2;    # Scan interfaces every 2 seconds
}

protocol direct {
   debug all;
   interface "-dummy0", "dummy1", "eth*", "em*", "en*";
}

# Peer with route reflector.
{% for peer in bird_bgp_ipv6_peers %}
protocol bgp{% if peer.name is defined %} {{ peer.name }}{% endif %} {
  description "Connection to BGP route reflector";
  local as {{ bird_bgp_asn }};
  neighbor {{ peer.ip }} as {{ peer.asn | default(bird_bgp_asn) }};
  hold time 15;
  graceful restart;
  check link;
  direct;
  gateway direct;
  import {% if peer.import_filter is defined %}filter {{ peer.import_filter }}{% else %}none{% endif %};
  export {% if peer.export_filter is defined %}filter {{ peer.export_filter }}{% else %}none{% endif %};
  next hop self;    # Disable next hop processing and always advertise our
                    # local address as nexthop
{% if peer.source_ip is defined %}
  source address {{ peer.source_ip }};  # The local address we use for the TCP connection
{% else %}
  source address {{ bird_bgp_ipv6_source | default(ansible_default_ipv6['address']) }};  # The local address we use for the TCP connection
{% endif %}
}
{% endfor %}
